body>#header #header-container {
    display: none;
}

#menubar .navbar {
    display: none;
}

div#save-notbook {
    display: none;
}

div#insert_above_below {
    display: none;
}

div#cut_copy_paste {
    display: none;
}

div#move_up_down {
    display: none;
}

div#maintoolbar-container {
    margin-top: 30px;
    margin-left: -10px;
}

div#maintoolbar-container>div:last-child {
    display: none;
}


select#cell_type {
    display: none;
}

div#run_int>button:first-child {
    padding: 4px 5px;
    font-size: 18px;
    top: -7px;
    margin-right: 5px;
    background-image: url("play.svg");
    background-repeat: no-repeat;
    background-position: 16px 6px;
    background-size: 20px;
  }

  i.fa-step-forward.fa {
      display: none;
  }

  div#run_int>button:first-child>span {
   color: transparent;
  }


  