[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid
Environment=JUPYTER_CONFIG_DIR=/home/pi/zumi/src/jupyter-config/

ExecStart=/usr/local/bin/jupyter-notebook
User=pi
Group=pi
WorkingDirectory=/home/pi/zumi
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
