[Unit]
Description=Jupyter Notebook

[Service]
Type=simple
PIDFile=/run/jupyter.pid

ExecStart=/usr/local/bin/jupyter-notebook --config=/home/pi/.jupyter/jupyter_notebook_config.py --certfile=/home/pi/zumi/src/mycert.pem --keyfile /home/pi/zumi/src/mykey.key
User=pi
Group=pi
WorkingDirectory=/home/pi/zumi
Restart=always
RestartSec=10
#KillMode=mixed

[Install]
WantedBy=multi-user.target
